information.dtd

<!ELEMENT informations (information) >
<!ELEMENT information (Date, CPU*, Memory*) >
<!ELEMENT Date (#PCDATA) >
<!ELEMENT CPU (ServerData*)>
<!ELEMENT Memory (ServerData*)>
<!ELEMENT ServerData (Description, value, Unit)>
<!-- Attlist funkade inte -->
<!-- <!ATTLIST ServerData unit CDATA #IMPLIED> -->

<!ELEMENT Unit (#PCDATA) >
<!ELEMENT Description (#PCDATA)>
<!ELEMENT value (#PCDATA)>

<!ENTITY degree "&#176;">
