information.dtd

<!ELEMENT informations (information*, Min*, Max*) >
<!ELEMENT information (Date, CPU*, Memory*) >
<!ELEMENT Date (#PCDATA) >
<!ELEMENT CPU (ServerData*)>
<!ELEMENT Memory (ServerData*)>
<!ELEMENT ServerData (Description, value)>
<!ATTLIST ServerData unit CDATA #IMPLIED>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT Max (#PCDATA)>
<!ELEMENT Min (#PCDATA)>

<!ENTITY degree "&#176;">
